@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Mono);
.code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.layout-container > header {
  height: 5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: white;
}
.layout-container > header > a {
  color: #263944;
  margin: 0 15px;
}

.navigation {
  width: 300px;
  background: #263944;
  padding: 0 10px 40px 10px;
  height: 95vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.navigation .nav-dir-path {
  font-size: 110%;
  color: #34bee0;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding: 10px 0 0 5px;
}
.navigation li a {
  color: white;
  font-weight: lighter;
}
.navigation li span[data-ice="kind"] {
  margin-left: 1.5em;
}

.content {
  margin-left: 300px;
  padding: 30px 60px;
}
.content .github-markdown h2,
.content .github-markdown h3,
.content .github-markdown h4,
.content .github-markdown h5 {
  font-weight: 300;
}

.kind-class {
  color: #00dd95;
  background: none;
  border: 1px solid #00dd95;
  margin-right: 0.4em;
}
.kind-variable {
  color: #34bee0;
  background-color: none;
  border: 1px solid #34bee0;
  margin-right: 0.4em;
}
.kind-interface {
  color: #ffa08d;
  background-color: none;
  border: 1px solid #ffa08d;
  margin-right: 0.4em;
}

.inherited-summary thead a {
  color: black;
}

/**
* Hide some stuff we don't want
*/
.identifier-dir-tree,
table.summary > tbody > tr > td:first-child,
.detail span.access {
  display: none;
}
